<div class="product-content max-w-64">
    <div class="item-card" [routerLink]="['producto', item?.id]">
    <a class="block relative rounded overflow-hidden">
    <img 
    alt="ecommerce"
    class="object-cover object-center w-64 h-64 flex flex-wrap "
    [src]="getImageUrl(item!.image)"
    alt="Imagen"
  
  />
</a>
<div class="mt-4">
  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
    <h2 class="text-white title-font text-lg font-medium">
      {{ item?.title }}
    </h2>
  </h3>
  {{
     item!.description.length > 50
      ? (item?.description | slice : 0 : 50) + "..."
      : item?.description
  }}
  <div *ngIf="item!.description.length > 50"
    ><strong>More...</strong></div
  >
 
  <p class="mt-1">${{ item?.price }}</p>
  <p class="mt-1">{{ getStarRating(item!.rating.rate) }}</p>
</div>
</div>
</div>