.dataForm {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  margin: 20px;
  gap: 20px;
  justify-content: center;
}
h1{
    color:white;
    font-size:20px;
}

.dataUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p span {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .dataForm {
    padding: 30px 50px;
  }
}
@media screen and (min-width: 912px) {
  .dataForm {
    padding: 30px 120px;
  }
}
@media screen and (min-width: 1024px) {
  .dataForm {
    padding: 30px 180px;
  }
}
@media screen and (min-width: 1200px) {
  .dataForm {
    grid-template-columns: 0.5fr 0.4fr;
    padding: 30px 210px;
  }
}
