@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111827;
}
app-my-shop{
    display: flex;
    justify-content: center;
}
button {
    background-color: theme("colors.primary");
  }
button:disabled{
    cursor:not-allowed;
    background-color: theme('colors.disabled')
}
button:disabled:hover{
    cursor:not-allowed;
    background-color: theme('colors.disabled')
}
button:hover{
    background-color: theme('colors.hover')
}
img {
    height: 250px;
    min-width: 250px;
    max-height: 300px;
  }
 